body {
	font-family: sans-serif;
	font-size: 20pt;
	border: 8px;
}

.border { background: silver; position: absolute; }
.borderh { height: 0px; border: 3px solid black; }
.borderv { width: 0px; border: 3px solid black; }
  
#container {
	width: 320px;
	height: 240px;
	position: relative;
	margin: 0;
	padding: 0;
}


#top {   
	left: 0px; top: 0px;
}
#right {
	right: 0px; top: 0px;
}
#bottom {   
	right: 0px; bottom: 0px;
}
#left {
	left: 0px; bottom: 0px;
}
#content {
	border: 1px red solid;
    position: absolute;
    top: 2px;
    left: 2px;
    /* border-divs are 0px wide with 1px border all around, thus have a width & height of 2px (twice the border-width) -- 2 border-divs = 4 less pixels for the content ! */
    
    overflow: auto;
    text-shadow: 0 0 1px #555;
    text-align: justify;
}
